.DS_Store

*.log
*.aux
*.toc
*.dvi
index.ps
*.out
*.bbl
*.blg
*.nav
*.snm
.*.swp

a.out
*.pyc
*.dSYM
*_cython.c*
*.o
*.so

# http://mactex-wiki.tug.org/wiki/index.php?title=SyncTeX
*.synctex.gz

xcuserdata
src/build/Xcode/build
/.idea/workspace.xml
/.idea/dictionaries/


# for src/algo.py
*.cache.sobj
